/* 
Project by Bernardo Balestrini 14/8/2020
Chatbox only use with chrome */

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  align-items: left;
  min-height: 100vh;
  background: url("./pattern-2.png");
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #eaeff3;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 25px;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: #255784;
}
.chat-box {
  border: 1px solid white;
  min-height: 10rem;
  padding: 4rem 2rem;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: auto;
  height: 50vh;
}
.robot-chat-container {
  text-align: left;
  color: blue;
  background-image: linear-gradient(to left, white, red);
  border: 1px solid white;
  border-radius: 2rem;
  height: 40%;
  margin: 15px;
  padding: 2rem 1rem;
  font-size: 20px;
}

.human-chat-container {
  text-align: left;
  color: blue;
  background-image: linear-gradient(to left, white, red);
  border: 1px solid white;
  border-radius: 2rem;
  height: 40%;
  margin: 15px;
  padding: 2rem 1rem;
  float: left;
  font-size: 20px;
}

#robot {
  display: flex;
  flex-direction: column;
  width: 45%;
}

#human {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.human-chat-container {
  text-align: left;
  color: white;
  background-image: linear-gradient(to left, violet, blue);
  border: 1px solid red;
  border-radius: 2rem;
  height: 40%;
  margin: 15px;
  padding: 2rem 1rem;
  float: left;
  font-size: 20px;
}
.chat-container {
  font-size: 20px;
  color: white;
}
.parent {
  display: flex;
  flex-direction: column;
}
.voice {
  text-align: center;
  margin: auto;
  box-shadow: 5px 5px 5px 5px;
}
 